@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Merriweather:wght@300;400;700;900&display=swap");
@font-face {
  font-family: "square721 ";
  src: url("./font/Square721_BT_Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "square721 ";
  src: url("./font/Square721_BT_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #434343;
  background-color: #fff !important;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 20px;
}

.section-title h2 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #3587c8;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title h2 span {
  font-style: italic;
  color: #ffcd3f;
}

.section-title h2 p {
  color: #cfd2d5;
}

img {
  border-radius: 3px;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 135, 200, 0.8)), to(rgba(53, 135, 200, 0.8))), url("https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-world-cup-blue-gradient-flat-football-banner-image_194909.jpg") fixed center center;
  background: linear-gradient(rgba(53, 135, 200, 0.8), rgba(53, 135, 200, 0.8)), url("https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-world-cup-blue-gradient-flat-football-banner-image_194909.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0;
  color: white;
  /* padding: 15px 0;
background: #f3f5fa;
min-height: 40px;
margin-top: 72px; */
}

.breadcrumbs h2 {
  font-family: "Dosis", sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: white !important;
}

.breadcrumbs a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  .breadcrumbs .breadcrumbs {
    margin-top: 68px;
  }
}

.breadcrumbs ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4668a2;
  content: "/";
}

#header {
  border-bottom: 1px solid #e9eced;
}

#header .navbar-brand img {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

#header .navbar-brand img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#header ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header ul li {
  font-family: "Dosis", sans-serif;
  margin-left: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}

#header ul li:hover {
  border-bottom: 2px solid #e9eced;
}

#header ul li .active {
  color: #3587c8 !important;
}

#header ul li a {
  color: #434343;
  font-size: 1rem;
  padding: 15px;
  font-weight: 500;
  line-height: 1.15;
}

.hero-main {
  width: 100%;
  height: 100%;
}

.hero-main .hero-left {
  padding: 0 0 0 20px;
}

.hero-main .hero-left h4 {
  font-family: "Dosis", sans-serif;
  text-align: center;
  letter-spacing: 0.05em;
  color: #3587c8;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
}

.hero-main .hero-left h4::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: #3587c8;
}

.hero-main .hero-left .clinics-list {
  margin: 20px;
}

.hero-main .hero-left .clinics-list ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.hero-main .hero-left .clinics-list ul li {
  font-size: 12px;
  border-bottom: 1px solid #e9eced;
}

.hero-main .hero-left .clinics-list ul li .left-list strong {
  font-size: 1rem !important;
  color: #3587c8;
  font-weight: 600;
}

.hero-main .hero-left .clinics-list ul li .left-list .date {
  background-color: #fffafa;
  padding: 5px 15px;
}

.hero-main .hero-left .clinics-list ul li .right-list button {
  border: none;
  background-color: #3587c8;
  color: white;
  padding: 8px 15px;
  border-radius: 3px;
}

.hero-main .hero-right img {
  width: 90%;
  margin-top: -80px;
}

.hero-main .hero-right .progressbar {
  counter-reset: step;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-main .hero-right .progressbar li {
  font-family: "Dosis", sans-serif;
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

.hero-main .hero-right .progressbar li::before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #3587c8;
  color: white;
}

.hero-main .hero-right .progressbar li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3587c8;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.hero-main .hero-right .progressbar li:first-child:after {
  content: none;
}

.hero-main .hero-right .progressbar li.active {
  color: #3587c8;
}

.hero-main .hero-right .progressbar li.active:before {
  border-color: #3587c8;
}

.hero-main .hero-right .progressbar li.active + li:after {
  background-color: #3587c8;
}

@media (max-width: 768px) {
  .hero-main .hero-right img {
    width: 100%;
  }
}

.aboutUs .aboutus-content {
  margin: 80px 0;
}

.testimonial-main {
  margin: 80px 0;
}

.testimonial-main .testimonial {
  text-align: center;
  padding: 85px 50px 45px 70px;
  margin: 70px 15px 35px;
  background: #f9f9f9;
  -webkit-box-shadow: 8px 4px 0 0 #3587c8;
          box-shadow: 8px 4px 0 0 #3587c8;
  position: relative;
  height: 360px;
}

.testimonial-main .testimonial .pic {
  width: 80%;
  height: 60%;
  border: 5px solid #3587c8;
  margin: 0 auto;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
}

.testimonial-main .testimonial .description {
  font-size: 0.875rem;
  color: #757575;
  line-height: 27px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.testimonial-main .testimonial .testimonial-profile {
  position: relative;
  margin: 20px 0 10px 0;
  font-family: "Dosis", sans-serif;
}

.testimonial-main .testimonial .testimonial-profile::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #77a9dd;
  margin: 0 auto;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}

.testimonial-main .testimonial .title {
  display: inline-block;
  font-size: 18px;
  color: #4a5184;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.testimonial-main .testimonial .post {
  display: inline-block;
  font-size: 15px;
  color: #757575;
  text-transform: capitalize;
}

@media (max-width: 1000px) {
  .testimonial-main {
    padding: 0;
  }
}

@media (max-width: 944px) {
  .testimonial-main .description {
    margin-top: 0%;
  }
  .testimonial-main .pic {
    height: 50% !important;
  }
}

@media (max-width: 706px) {
  .testimonial-main .pic {
    height: 40% !important;
  }
}

@media (max-width: 706px) {
  .testimonial-main .testimonial {
    padding: 25px 20px 25px 20px !important;
  }
  .testimonial-main .pic {
    height: auto !important;
  }
}

.testimonial-main .owl-theme .owl-controls {
  margin-top: 10px;
}

.testimonial-main .owl-theme .owl-controls .owl-page span {
  background: #5e5f5f;
  opacity: 1;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.testimonial-main .owl-theme .owl-controls .owl-page.active span,
.testimonial-main .owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #77a9dd;
}

.testimonial-main .owl-theme .owl-controls .owl-page.active span {
  width: 22px;
  height: 12px;
}

#why-us {
  margin: 80px 0px;
  padding: 40px 0 40px 0;
  background-color: #fafafa !important;
}

#why-us .why-content .title-why {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #37517e;
}

#why-us .why-content .title-why span {
  color: #ffcd3f;
  font-style: italic;
}

#why-us .why-content p {
  font-size: 0.875rem;
}

@media (max-width: 767px) {
  #why-us .why-content {
    margin-top: 20px;
  }
  #why-us .why-content .title-why {
    text-align: center;
  }
}

#program {
  margin: 80px 0px;
}

#program a {
  text-decoration: none;
}

#program .card {
  border-radius: 3px;
  border: 1px solid #e9eced;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#program .card:hover {
  margin-top: -10px;
}

#program .card .imagee {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

#program .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

#program .card .card-content {
  padding: 0 20px;
}

#program .card .card-content h4 {
  font-family: "Dosis", sans-serif;
  margin-top: 15px;
  font-size: 24px;
  font-weight: bold;
  color: #3587c8;
}

#program .card .card-content p {
  text-align: start;
  font-size: 0.875rem;
  margin-top: 10px;
  line-height: 1.5;
  color: #434343;
}

@media screen and (max-width: 640px) {
  #program .content-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  margin-top: 80px;
}

.contact .section-title p {
  color: #9b757d;
}

.contact .info {
  border-top: 3px solid #3587c8;
  border-bottom: 3px solid #3587c8;
  padding: 30px;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  height: 100%;
}

.contact .info i {
  font-size: 1rem;
  color: #3587c8;
  float: left;
  width: 35px;
  height: 35px;
  background: #e7f5fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
  font-family: "Dosis", sans-serif;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #3587c8;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 1rem;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #3587c8;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #3587c8;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  border-top: 3px solid #3587c8;
  border-bottom: 3px solid #3587c8;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #3587c8;
}

.contact .php-email-form input {
  height: 35px;
}

.contact .php-email-form textarea {
  padding: 8px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #3587c8;
  border: 0;
  padding: 12px 34px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #209dd8;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

footer {
  background: #fffafa;
  padding: 40px 0px;
  margin-top: 80px;
}

footer .social-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-wrap img {
  font-size: 40px;
  margin-bottom: 45px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

footer .social-wrap img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

footer .social-wrap .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
}

footer .social-wrap .social-links a {
  width: 30px;
  height: 33px;
  text-align: center;
  text-decoration: none;
  color: #434343;
  font-weight: bold;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0 6px;
  border-radius: 50%;
  border: 1px solid #3587c8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .social-wrap .social-links a:hover {
  background-color: #3587c8;
  color: white;
}

footer .social-wrap .social-links a:hover::after {
  top: 0;
}

footer .social-wrap .social-links a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

footer .social-wrap .social-links a:hover .fab {
  color: #fff;
}

footer .social-wrap .social-links a .fab {
  font-size: 16px;
  line-height: 30px;
  position: relative;
  z-index: 10;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

footer p {
  color: #3587c8;
  font-size: 1.2rem;
  text-align: start;
  font-weight: 300;
}

footer h4 {
  font-family: "Dosis", sans-serif;
  color: #3587c8;
  font-weight: bold;
}

footer .quick-links ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .quick-links ul li {
  list-style: none;
  margin-top: 10px;
}

footer .quick-links ul li a {
  text-decoration: none;
  color: #3587c8;
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 1000px) {
  footer .footer-m {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  footer .social-links {
    width: 100%;
  }
}

.clinicsDetails {
  padding: 40px 0;
}

.clinicsDetails .clinics-content {
  margin-top: 70px;
}

.clinicsDetails .clinics-content img {
  height: auto;
}

.clinicsDetails .clinics-content .clinic-left h4 {
  text-align: center;
  letter-spacing: 0.05em;
  color: #3587c8;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
}

.clinicsDetails .clinics-content .clinic-left h4::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: #3587c8;
}

.clinicsDetails .clinics-content .clinic-left .clinics-list {
  margin: 20px;
}

.clinicsDetails .clinics-content .clinic-left .clinics-list ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.clinicsDetails .clinics-content .clinic-left .clinics-list ul li {
  font-size: 12px;
  border-bottom: 1px solid #e9eced;
}

.clinicsDetails .clinics-content .clinic-left .clinics-list ul li .left-list strong {
  font-size: 1rem !important;
  color: #3587c8;
  font-weight: 600;
}

.clinicsDetails .clinics-content .clinic-left .clinics-list ul li .left-list .date {
  background-color: #fffafa;
  padding: 5px 15px;
}

.clinicsDetails .clinics-content .clinic-left .clinics-list ul li .right-list button {
  border: none;
  background-color: #3587c8;
  color: white;
  padding: 8px 15px;
  border-radius: 3px;
}

.clinicsDetails h4 {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  padding: 20px 0 0 0;
  color: #3587c8;
}

.clinicsDetails p {
  text-align: start;
}

.miniAlliess .miniAllies-content {
  margin-top: 70px;
}

.miniAlliess .miniAllies-content .btnn {
  font-family: "Dosis", sans-serif;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #3587c8;
  border-color: #3587c8;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.miniAlliess .miniAllies-content .content .content-down ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-align: start !important;
}

.miniAlliess .miniAllies-content .content .content-down ul li a {
  text-decoration: none;
}

.miniAlliess .miniAllies-content .content .content-down ul li a span {
  color: #3587c8;
  font-weight: 700;
}

.miniAlliess .miniAllies-content p {
  text-align: start;
}

.miniAlliess .miniAllies-content p span {
  font-style: italic;
  color: #ffcd3f;
}

.miniAlliess .miniAllies-content .miniAllies-left {
  margin: 20px 20px;
}

.miniAlliess .miniAllies-content .miniAllies-left h4 {
  text-align: center;
  letter-spacing: 0.05em;
  color: #3587c8;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
}

.miniAlliess .miniAllies-content .miniAllies-left h4::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: #3587c8;
}

.miniAlliess .miniAllies-content .miniAllies-left .clinics-list {
  margin: 20px;
}

.miniAlliess .miniAllies-content .miniAllies-left .clinics-list ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.miniAlliess .miniAllies-content .miniAllies-left .clinics-list ul li {
  font-size: 12px;
  border-bottom: 1px solid #e9eced;
}

.miniAlliess .miniAllies-content .miniAllies-left .clinics-list ul li .left-list strong {
  font-size: 1rem !important;
  color: #3587c8;
  font-weight: 600;
}

.miniAlliess .miniAllies-content .miniAllies-left .clinics-list ul li .left-list .date {
  background-color: #fffafa;
  padding: 5px 15px;
}

.miniAlliess .miniAllies-content .miniAllies-left .clinics-list ul li .right-list button {
  border: none;
  background-color: #3587c8;
  color: white;
  padding: 8px 15px;
  border-radius: 3px;
}

.miniAlliess .banner-inner {
  margin: 80px 0;
}

.miniAlliess .banner-inner p {
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 24px;
  color: #000;
}

.miniAlliess .banner-inner p::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  height: 100%;
  background-color: #434343;
  width: 5px;
}

.miniAlliess h6 {
  font-family: "Dosis", sans-serif;
  color: #3587c8;
  font-weight: 600;
  font-size: 1rem;
}

.miniAlliess .session span {
  font-family: "Dosis", sans-serif;
  color: #3587c8;
  font-weight: 800;
  font-style: italic;
}

.misson {
  margin: 80px 0;
  background-color: #fffafa;
  padding: 20px;
}

.misson ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-align: start !important;
}

.misson ul li {
  color: #888;
}

.misson .text-center {
  font-size: 18px;
}

.misson h5 {
  font-family: "Dosis", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #3587c8;
}

.misson p {
  font-size: 14px;
}

.misson p span {
  color: #3587c8;
  font-style: italic;
  font-weight: 600;
}

.champDetails .champ-content {
  margin: 70px 0;
}

.champDetails h4 {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  padding: 20px 0 0 0;
  color: #3587c8;
  font-weight: bold;
}

.champDetails p {
  text-align: start;
}

.champDetails ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.champDetails ul li {
  margin-top: 15px;
}

.champDetails .hero-left {
  padding: 0 0 0 20px;
}

.champDetails .hero-left h4 {
  font-family: "Dosis", sans-serif;
  text-align: center;
  letter-spacing: 0.05em;
  color: #3587c8;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
}

.champDetails .hero-left h4::before {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: #3587c8;
}

.champDetails .hero-left .clinics-list {
  margin: 20px;
}

.champDetails .hero-left .clinics-list ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.champDetails .hero-left .clinics-list ul li {
  font-size: 12px;
  border-bottom: 1px solid #e9eced;
}

.champDetails .hero-left .clinics-list ul li .left-list strong {
  font-size: 1rem !important;
  color: #3587c8;
  font-weight: 600;
}

.champDetails .hero-left .clinics-list ul li .left-list .date {
  background-color: #fffafa;
  padding: 5px 15px;
}

.champDetails .hero-left .clinics-list ul li .right-list button {
  border: none;
  background-color: #3587c8;
  color: white;
  padding: 8px 15px;
  border-radius: 3px;
}

.champDetails .hero-right img {
  width: 90%;
  margin-top: -80px;
}

.champDetails .hero-right .progressbar {
  counter-reset: step;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.champDetails .hero-right .progressbar li {
  font-family: "Dosis", sans-serif;
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

.champDetails .hero-right .progressbar li::before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #3587c8;
  color: white;
}

.champDetails .hero-right .progressbar li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3587c8;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.champDetails .hero-right .progressbar li:first-child:after {
  content: none;
}

.champDetails .hero-right .progressbar li.active {
  color: #3587c8;
}

.champDetails .hero-right .progressbar li.active:before {
  border-color: #3587c8;
}

.champDetails .hero-right .progressbar li.active + li:after {
  background-color: #3587c8;
}

@media (max-width: 768px) {
  .champDetails .hero-right img {
    width: 100%;
  }
}

.team .team-content {
  margin: 80px 0px;
}

.team .team-content .row {
  margin: 40px 0;
}
/*# sourceMappingURL=index.css.map */